<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dataTables/jquery.dataTables.css">

    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/bootstrap/bootstrap.js"></script>
    <script src="/static/dataTables/jquery.dataTables.js"></script>
    <script src="/static/js/yii.js"></script>

    <!-- PNotify -->
    <script type="text/javascript" src="/static/pnotify/pnotify.js"></script>
    <link href="/static/pnotify/pnotify.css" rel="stylesheet" type="text/css"/>
    <link href="/static/pnotify/pnotify.brighttheme.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="form-inline" role="form">
    <div class="form-group">
        <label class="form-label">&nbsp;查询:</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn btn-primary">查询</button>
    </div>
    <div class="form-group">
        <button class="btn btn-info" id="add">添加</button>
    </div>
</div>
<table id="example" class="display" width="100%">
    <thead>
    <tr>
        <th>id</th>
        <th>角色名称</th>
        <th>权限列表</th>
        <th>是否启用</th>
        <th>排序</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
</table>
</body>
</html>
<script>
    var indexinfo = (function () {
        var add_info = "{:URL('rulecontrl/add')}";
        var datatable_url="{:URL('Rulecontrl/getAll')}";
        return {
            add_info: add_info,
            datatable_url:datatable_url
        };
    })();
</script>
<script src="/static/js/logic/rule.js"></script>