<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" close="true">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
        <span class="fa fa-user-plus"></span>&nbsp;添加帐号
    </h4>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <input type="hidden" name="token" value="{$token}">
        <div class="form-group">
            <label class="col-sm-3 control-label">*帐号:</label>
            <div class="col-sm-4">
                <input class="form-control" name="account" placeholder="帐号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">*密码:</label>
            <div class="col-sm-4">
                <input class="form-control" name="passwd" placeholder="密码" type="password">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">*角色:</label>
            <div class="col-sm-8">
                <select name="role[]" class="selectpicker">
                    <?php foreach($role as $rolek=>$rolev):
                    if($rolev["id"]==1){
                        $roleid="*";
                    }else{
                        $roleid=$rolev["id"];
                    }
                    ?>
                    <option value="{$roleid}">{$rolev.name}</option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" close="true">关闭</button>
    <button type="button" class="btn btn-primary btn-sm" _event="add">保存</button>
</div>
<script>
    $('.selectpicker').selectpicker({
        title: '请选择角色'
    });
</script>