<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" close="true">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
        <span class="fa fa-user-plus"></span>&nbsp;添加角色
    </h4>
</div>
<style>


</style>
<div class="modal-body">
    <form class="form-horizontal">
        <input type="hidden" name="token" value="{$token}">
        <div class="form-group">
            <label class="col-sm-3 control-label">*角色名称:</label>
            <div class="col-sm-4">
                <input class="form-control" name="name" placeholder="角色名称">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">*权限列表:</label>
            <div class="col-sm-8">
                <select name="privilege_list[]" class="selectpicker" multiple data-actions-box="true">
                    <?php foreach($treeArr as $treek=>$treev):
                    if(empty($treev["level"])){
                    $flag=$treev["name"];
                    }
                    ?>
                    <option value="{$treev.id}" _parent_id="{$treev.parent_id}" _level="{$treev.level}"
                            _flag="{$flag}"><?=str_repeat(".....",$treev["level"]);?>{$treev.name}
                    </option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" close="true">关闭</button>
    <button type="button" class="btn btn-primary btn-sm" _event="add">保存</button>
</div>
<script>
    $('.selectpicker').selectpicker({
        title: '请选择权限'
    });
    var showIndex = [];
    var temp = [];
    $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, newValue) {
        //点击的option
        var clicked = $(this.options[clickedIndex]);
        //获取level
        var level = clicked.attr("_level");
        //获取flag
        var flag = clicked.attr("_flag");
        //获取parent_id
        var parent_id = clicked.attr("_parent_id");
        //获取值
        var val = clicked.val();
        //如果是选中的话
        if (newValue == true) {
            showIndex = $(this).val();
            $(this).find('option[_flag="' + flag + '"]').each(function (index, item) {
                var _level = $(item).attr("_level");
                var _val = $(item).val();
                //如果level大于0 说明选中的是下级元素
                if (level > 0) {
                    //如果循环的level小于当前level
                    if (_level < level) {
                        //如果level==0 直接加入进来 如果循环的值等于当前的parent_id 加入进来
                        if ((_level == "0") || (parent_id == _val))
                            showIndex.push(_val);
                    }
                    //如果level和当前的相等 并且 值也相等 说明到当前了 下面的无需再匹配 因为下面没有上级了
                    if ((_level == level) && (val == _val)) {
                        return false;
                    }
                } else if (level == 0) {
                    //如果循环的level小于当前level
                    showIndex.push(_val);
                }
            });
            $(this).selectpicker('val', showIndex.unique());
            //如果是取消选中的话
        } else {
            if (level == 0) {
                $(this).find('option[_flag="' + flag + '"]').each(function (index, item) {
                    var _level = $(item).attr("_level");
                    var _val = $(item).val();
                    temp.push(_val);
                });
            }else if(level==1){
                $(this).find('option[_flag="' + flag + '"]').each(function (index, item) {
                    var _level = $(item).attr("_level");
                    var _val = $(item).val();
                    var _parent_id=$(item).attr("_parent_id");
                    if((_level==2) && (val==_parent_id)){
                        temp.push(_val);
                    }
                });
                temp.push(val);

            }
            var lastArr = showIndex.unique().diff(temp);
            $(this).selectpicker('val', lastArr);
        }
    });
</script>