<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" close="true">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
        <span class="fa fa-caret-square-o-down"></span>&nbsp;删除操作
    </h4>
</div>
<div class="modal-body">
    <p class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"></div>
                <div class="alert alert-warning">您确定要执行删除操作吗?</div>
            </div>
        </div>
    </p>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" close="true">取消</button>
    <button type="button" class="btn btn-primary btn-sm" _event="delConfirm">确定</button>
</div>