<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/static/dataTables/jquery.dataTables.css">

<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/bootstrap/bootstrap.js"></script>
<script src="/static/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/yii.js"></script>

<!-- PNotify -->
<script type="text/javascript" src="/static/pnotify/pnotify.js"></script>
<link href="/static/pnotify/pnotify.css" rel="stylesheet" type="text/css"/>
<link href="/static/pnotify/pnotify.brighttheme.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" href="/static/css/font-awesome.css">
<style>
    .pagination{
        float:right;
    }
</style>